

.App {
  /* background-color: #222; */
  height: 572px;
  padding: 20px;
  color: #222;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.line-strike {
  text-decoration: line-through;
}

.hide {
  display:none;
}

.icon-edit {
  padding-top: 15px;
}

.text-item {
    border: 0;
    font-size: 1.5rem;
    font-weight: 300;
}
